  <h2> {{getTranslation('second1')}}</h2>
  <h1> {{getTranslation('second2')}}</h1>
  <div class="steps-container" (scroll)="onScroll($event)">
    <div class="step" *ngFor="let step of steps; let i = index">
      <i [ngClass]="step.icon"></i>
      <h3> {{step.title}}</h3>
      <h4> {{step.description}}</h4>
    </div>

  </div>

  <div class="dots-container">
    <span *ngFor="let item of steps; let i = index"
        class="dot"
        [ngClass]="{'active': i === activeStepIndex}">
    </span>
  </div>
