 <div class="main">
    <div class="date">
      <h3>{{getFormattedDate(order.orderDate)}}</h3>
      <h3> {{getFormattedTime(order.orderDate)}}</h3>
    </div>
    <div class="row-container">
      <img class="image" alt="" [src]="order.restaurantLogo">
      <div>
        <p>{{getTranslation('orderFrom')}} <span class="restaurantName">{{order.restaurantName}}</span></p>
        <p>{{getTranslation('orderNumber')}} <span class="span">{{order.id}}</span></p>
        <p>{{getTranslation('payment')}}:  <span class="span2">{{getPaymentMethod()}}</span></p>
        <p>{{getTranslation('deliveryMethod')}}: <span class="span2">{{getDeliveryOption()}}</span> </p>
        <p *ngIf="isDelivery">{{getTranslation('deliveryAddress')}}: <span class="span2">{{order.userAddress.street}} {{order.userAddress.houseNumber}}</span></p>
        <p>{{getTranslation('price')}}: <span class="span">{{getFormattedPrice(order.totalPrice)}} zł</span> </p>
      </div>
    </div>

    <div class="buttons">
      <button class="opinion-btn" *ngIf="!order.hasOpinion" (click)="openAddOpinionDialog()" >{{getTranslation('addOpinion')}}</button>

      <button class="toggle-btn" (click)="toggleVisibility()">
        {{ isVisible ? getTranslation('hideMenu') : getTranslation('showMenu') }}
      </button>

    </div>


    <div
      *ngIf="isVisible">
      <app-order-menu-item
        *ngFor="let menuItem of order.orderMenus"
        [menuItem]="menuItem"
      ></app-order-menu-item>
    </div>


  </div>

