<div class="profile-menu">
  <div class="first-section">
    <i class="fa-solid fa-chevron-left" (click)="backToMenuDialog()"></i>
    <h2>{{getTranslation('profile')}}</h2>
    <i class="fa-regular fa-circle-xmark" (click)="closeDialog()"></i>
  </div>
  <div class="input-container">
    <label for="name">{{getTranslation('name')}}</label>
    <input id="name" type="text" name="email" placeholder="{{getTranslation('name')}}" [(ngModel)]="name" (ngModelChange)="showNameButton()" required>
  </div>
  <button *ngIf="isNameChanged" (click)="changeName()" type="submit">{{getTranslation('newName')}}</button>

  <div class="input-container">
    <label for="email">{{getTranslation('email')}}</label>
    <input class="email-input" id="email" type="email"  name="email" placeholder="{{getTranslation('email')}}" [(ngModel)]="email" readonly required>
  </div>

  <div class="password-container">
    <h3>{{ getTranslation('wannaChangePassword') }}</h3>
    <button (click)="goToChangePasswordDialog()">{{getTranslation('clickHere')}} </button>
  </div>

</div>

