  <div class="first-section">
    <h2>{{getTranslation('addAddress')}}</h2>
    <i class="fa-regular fa-circle-xmark" (click)="closeDialog()"></i>
  </div>

  <form [formGroup]="addressForm" (ngSubmit)="addAddress()">
    <div class="address-container">
      <div class="input-container">
        <label for="street">{{getTranslation('street')}}: *</label>
        <input id="street" type="text" formControlName="street" name="street" autocomplete="text" required>
      </div>

      <div class="input-container">
        <label for="houseNumber">{{getTranslation('houseNumber')}}: *</label>
        <input id="houseNumber" type="text" formControlName="houseNumber" name="houseNumber" autocomplete="text" required>
      </div>
    </div>

    <div class="address-container">
      <div class="input-container">
        <label for="floorNumber">{{getTranslation('floorNumber')}}</label>
        <input id="floorNumber" type="text" formControlName="floorNumber" name="floorNumber" autocomplete="text" required>
      </div>

      <div class="input-container">
        <label for="accessCode">{{getTranslation('accessCode')}}</label>
        <input id="accessCode" type="text" formControlName="accessCode" name="accessCode" autocomplete="text" required>
      </div>
    </div>

    <div class="address-container">
      <div class="input-container">
        <label for="zipCode">{{getTranslation('zipCode')}}: *</label>
        <input id="zipCode" type="text" formControlName="zipCode" name="zipCode" autocomplete="text" required>
      </div>

      <div class="input-container">
        <label for="city">{{getTranslation('city')}}: *</label>
        <input id="city" type="text" formControlName="city" name="city" autocomplete="text" required>
      </div>
    </div>

    <div class="address-container">
      <div class="input-container">
        <label for="phoneNumber">{{getTranslation('phoneNumber')}}: *</label>
        <input id="phoneNumber" type="text" formControlName="phoneNumber" name="phoneNumber" autocomplete="text" required>
      </div>


    </div>

    <button type="submit" >{{getTranslation('addAddress')}}</button>

  </form>

