<div class="restaurant-item" (click)="goToMenu(restaurant)">
  <img class="image" [src]="restaurant.imageUrl" alt="restaurant image" />
  <img class="logo" [src]="restaurant.logoUrl" alt="restaurant logo" />
  <div class="rating-container">
    <i class="fa-solid fa-star"></i>
    <h5>{{ getAverageRating() | number:'1.1-1'}}</h5>
    <h6>({{getRatingLength() }})</h6>

  </div>

  <h3>{{restaurant.name}} </h3>
  <div class="description">
    <div class="left-description" >
      <div class="description-item" *ngIf="isOpen">
        <i class="fa-solid fa-truck"></i>
        <h5>{{restaurant.delivery.deliveryPrice}} zł</h5>
      </div>
      <div class="description-item" *ngIf="isOpen">
        <i class="fa-regular fa-clock"></i>
        <h5>{{restaurant.delivery.deliveryMinTime}}-{{restaurant.delivery.deliveryMaxTime}} min</h5>
      </div>

      <div class="description-item closed" *ngIf="!isOpen">
        <i class="fa-regular  fa-clock"></i>
        <h5>{{getTranslation('deliveryClosed')}}</h5>
      </div>
    </div>

    <h5>{{restaurant.category}}</h5>
  </div>
</div>
