  <img [src]="favourite.restaurantLogoUrl" alt="">
  <div class="info-container">

    <h3> {{favourite.restaurantName}}</h3>

    <div class="rating-container">
      <div class="rating">
        <i class="fa-solid fa-star"></i>
        <h5>{{averageRating}}</h5>
        <h6>({{ratingLength}})</h6>
      </div>

      <p> {{favourite.restaurantCategory}}</p>
    </div>

    <div class="location">
      <i class="fa-solid fa-location-dot"></i>
      <p> {{favourite.street}} {{favourite.flatNumber}}</p>
    </div>
  </div>

  <div class="trash" (click)="removeFavourite()">
    <i class="fa-regular fa-trash-can"></i>
  </div>
