<h2> {{getTranslation('third1')}}</h2>
  <h1> {{getTranslation('third2')}}</h1>
  <div class="why-container" (scroll)="onScroll($event)">
    <div class="why" *ngFor="let item of whyItems; let i = index">
      <div class="why-background">
        <i [ngClass]="item.icon"> </i>
        <h3> {{item.title}}</h3>
        <h4> {{item.description}}</h4>
      </div>
    </div>
  </div>

<div class="dots-container">
  <span *ngFor="let item of whyItems; let i = index"
        class="dot"
        [ngClass]="{'active': i === activeWhyIndex}">
  </span>
</div>
