<div class="container">
  <div class="overlay"></div>
  <div class="main-container">
    <div class="spinner" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div class="restaurants-container" *ngIf="!isLoading">
      <h2>{{getTranslation('availableRestaurants')}}</h2>

      <input type="text" class="search-input" [placeholder]="getTranslation('searchRestaurant')" [(ngModel)]="searchRestaurant" (ngModelChange)="filterRestaurants()" />

      <div class="restaurant-item" *ngFor="let restaurant of filteredRestaurants">
        <app-all-restaurants-item [restaurant]="restaurant"></app-all-restaurants-item>
      </div>
    </div>

  </div>
</div>
