<div class="login-menu">
  <div class="first-section">
    <i class="fa-solid fa-chevron-left" (click)="backToMenuDialog()"></i>
    <h2>{{getTranslation('login')}}</h2>
    <i class="fa-regular fa-circle-xmark" (click)="closeDialog()"></i>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="!show2FA">
    <div class="input-container">
      <label for="email">{{getTranslation('email')}}</label>
      <input id="email" type="email" formControlName="email" name="email" placeholder="{{getTranslation('email')}}" autocomplete="email" required>
    </div>
    <div class="input-container">
      <label for="password">{{getTranslation('password')}}</label>
      <div class="password-wrapper">
        <input id="password" type="password" formControlName="password" name="password" placeholder="{{getTranslation('password')}}" autocomplete="new-password" required>
        <i class="fa-solid" [ngClass]="isVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('password')"></i>
      </div>
    </div>

    <div class="error-container" *ngIf="isLoginError">
      <i class="fa-solid fa-circle-exclamation"></i>
      <p *ngIf="errorMessage; else elseError"> {{getTranslation('locked')}}</p>
      <ng-template #elseError>{{ getTranslation('loginError') }}</ng-template>
    </div>

    <button type="submit">{{getTranslation('sendCode')}}</button>
  </form>

  <form *ngIf="show2FA">
    <div class="input-container">
      <label for="twoFactorCode">{{getTranslation('twoFactorCode')}}</label>
      <input id="twoFactorCode" type="text" [(ngModel)]="twoFactorCode" name="twoFactorCode" placeholder="{{getTranslation('twoFactorCode')}}" required>
    </div>
    <div class="error-container" *ngIf="isLoginError">
      <i class="fa-solid fa-circle-exclamation"></i>
      <p> {{ getTranslation('error2FA') }} </p>
    </div>

    <button (click)="verify2FA(twoFactorCode)">{{getTranslation('login')}}</button>
  </form>

  <div class="last-container">
    <h2 (click)="goToRegisterDialog()"> {{getTranslation('createAccount')}}</h2>
  </div>
</div>
