<div class="input-container">
  <h3>{{getTranslation('changePassword')}}</h3>
  <label for="oldPassword">{{getTranslation('oldPassword')}}</label>
  <div class="password-wrapper">
    <input id="oldPassword" type="password" name="oldPassword" placeholder="{{getTranslation('oldPassword')}}"  [(ngModel)]="oldPassword" autocomplete="new-password" required>
    <i class="fa-solid" [ngClass]="isVisibleOldPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('oldPassword')"></i>
  </div>
</div>

<div class="input-container">
  <label for="newPassword">{{getTranslation('newPassword')}}</label>
  <div class="password-wrapper">
    <input id="newPassword" type="password" name="newPassword" placeholder="{{getTranslation('newPassword')}}" [(ngModel)]="newPassword" autocomplete="new-password" required>
    <i class="fa-solid" [ngClass]="isVisibleNewPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('newPassword')"></i>
  </div>
</div>

<div class="input-container">
  <label for="confirmPassword">{{getTranslation('confirmPassword')}}</label>
  <div class="password-wrapper">
    <input id="confirmPassword" type="password" name="confirmPassword" placeholder="{{getTranslation('confirmPassword')}}" [(ngModel)]="confirmPassword" autocomplete="new-password" required>
    <i class="fa-solid" [ngClass]="isVisibleConfirm ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('confirmPassword')"></i>
  </div>
</div>
