<div class="change-menu">
  <div class="first-section">
    <i class="fa-solid fa-chevron-left" [routerLink]="[]" fragment="menu-profile"></i>
    <h2>{{getTranslation('changePassword')}}</h2>
    <i class="fa-regular fa-circle-xmark" (click)="removeFragment()"></i>
  </div>

  <form [formGroup]="resetForm" (ngSubmit)="changePassword()">
    <div class="input-container">
      <label for="oldPassword">{{getTranslation('oldPassword')}}</label>
      <div class="password-wrapper">
        <input id="oldPassword" type="password" formControlName="oldPassword" name="oldPassword" placeholder="{{getTranslation('oldPassword')}}" autocomplete="new-password" required>
        <i class="fa-solid" [ngClass]="isVisibleOldPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('oldPassword')"></i>
      </div>
    </div>

    <div class="input-container">
      <label for="newPassword">{{getTranslation('newPassword')}}</label>
      <div class="password-wrapper">
        <input id="newPassword" type="password" formControlName="newPassword" name="newPassword" placeholder="{{getTranslation('newPassword')}}" autocomplete="new-password" required>
        <i class="fa-solid" [ngClass]="isVisibleNewPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('newPassword')"></i>
      </div>
      <div class="error-container" *ngIf="showErrorFor('newPassword')">
        <i class="fa-solid fa-circle-exclamation"></i>
        <p>{{getTranslation('passwordError')}}</p>
      </div>
    </div>

    <div class="input-container">
      <label for="confirmPassword">{{getTranslation('confirmPassword')}}</label>
      <div class="password-wrapper">
        <input id="confirmPassword" type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="{{getTranslation('confirmPassword')}}" autocomplete="new-password" required>
        <i class="fa-solid" [ngClass]="isVisibleConfirm ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('confirmPassword')"></i>
      </div>
      <div class="error-container" *ngIf=" showErrorFor('confirmPassword')">
        <i class="fa-solid fa-circle-exclamation"></i>
        <p>{{getTranslation('confirmPasswordError')}}</p>
      </div>
    </div>

    <div class="error-container" *ngIf=isError>
      <i class="fa-solid fa-circle-exclamation"></i>
      <p>{{getTranslation('changePasswordError')}}</p>
    </div>

    <button type="submit" [ngClass]="{'invalid-button': !resetForm.valid}">{{getTranslation('changePassword')}}</button>

  </form>

</div>
