.restaurant-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  font-family: "Roboto", sans-serif;
  background: whitesmoke;
}

.main-container{
  display: flex;
  flex-direction: row;
  width: 1400px;
  height: 100%;
}

.first-section {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  width: 22%;
  height: 100%;
}

.sorted-h4 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

.second-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow-y: auto;
}

.second-section::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.search-input {
  margin-top: 20px;
  border: 1px solid #a29f9f;
  width: 980px;
  height: 60px;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 40px 40px 40px 40px;
  position: relative;
  background: white;
  margin-left: 20px;

}

h3 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 35px;
  margin-bottom: -10px;
}

.restaurants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 230px;
}


