<div class="info-container">
  <app-info-map [restaurantId]="restaurantId"></app-info-map>

  <div class="content">
    <div class="title">
      <i class="fa-regular fa-clock"></i>
      <h3>{{getTranslation('deliveryHour')}}</h3>
    </div>
    <div class="item-container">
      <div class="hour-item" *ngFor="let hour of searchedRestaurant.deliveryHours">
        <p>{{getDayName(hour.dayOfWeek)}}</p>
        <p *ngIf="hour.openTime !== 'null' && hour.openTime !== '0' ; else closed">{{hour.openTime}} - {{hour.closeTime}}</p>
        <ng-template #closed> {{getTranslation('closed')}} </ng-template>
      </div>
    </div>

    <div class="title">
      <i class="fa-solid fa-file-invoice-dollar"></i>
      <h3>{{getTranslation('fees')}}</h3>
    </div>
    <div class="item-container">
      <div class="hour-item">
        <p>{{getTranslation('deliveryFee')}}</p>
        <p> {{searchedRestaurant.deliveryPrice | number:'1.2-2'}} zł</p>
      </div>
      <div class="hour-item">
        <p>{{getTranslation('feesComment')}} </p>
        <p> {{searchedRestaurant.delivery?.minimumPrice | number:'1.2-2'}} zł</p>
      </div>
    </div>

    <div class="title">
      <i class="fa-regular fa-credit-card"></i>
      <h3>{{getTranslation('paymentMethods')}}</h3>
    </div>
    <div class="item-container">
      <div class="payment">
        <div class="payment-item" *ngFor="let payment of searchedRestaurant.paymentMethods">
          <img [src]="payment.image" [title]="payment.method" alt="">
        </div>
      </div>
    </div>

    <div class="title">
      <i class="fa-regular fa-circle-question"></i>
      <h3>{{getTranslation('info')}}</h3>
    </div>
    <div class="item-container">
        <p class="info-item"> {{searchedRestaurant.name}}</p>
        <p class="info-item"> {{searchedRestaurant.restaurantAddress?.street}} {{searchedRestaurant.restaurantAddress?.flatNumber}}</p>
        <p class="info-item"> {{searchedRestaurant.restaurantAddress?.zipCode}} {{searchedRestaurant.restaurantAddress?.city}}</p>
    </div>
  </div>
</div>
