<div class="addresses-menu">
  <div class="first-section">
    <i class="fa-solid fa-chevron-left" [routerLink]="[]" fragment="menu"></i>
    <h2>{{getTranslation('addresses')}}</h2>
    <i class="fa-regular fa-circle-xmark" (click)="removeFragment()"></i>
  </div>

  <div class="addresses-container">
    <div class="item-container" *ngFor="let address of addresses">
      <app-menu-addresses-item [address]="address" (reloadAddress)="onAddressRemoved()"></app-menu-addresses-item>
    </div>
  </div>

  <button [routerLink]="[]" fragment="add-address"> {{getTranslation('addAddress')}}</button>

</div>

