<div class="register-menu">
  <div class="first-section">
    <i class="fa-solid fa-chevron-left" (click)="backToMenuDialog()"></i>
    <h2>{{getTranslation('createAccount')}}</h2>
    <i class="fa-regular fa-circle-xmark" (click)="closeDialog()"></i>
  </div>
  <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-container">
        <label for="name">{{getTranslation('name')}}</label>
        <input id="name" type="text" formControlName="name" name="name" placeholder="{{getTranslation('name')}}" required>
      </div>
      <div class="input-container">
        <label for="email">{{getTranslation('email')}}</label>
        <input id="email" type="email" formControlName="email" name="email" placeholder="{{getTranslation('email')}}" autocomplete="email" required>
        <div class="error-container" *ngIf="showErrorFor('email')">
          <i class="fa-solid fa-circle-exclamation"></i>
          <p>{{getTranslation('emailError')}}</p>
        </div>
      </div>
      <div class="input-container">
        <label for="password">{{getTranslation('password')}}</label>
        <div class="password-wrapper">
          <input id="password" type="password" formControlName="password" name="password" placeholder="{{getTranslation('password')}}" autocomplete="new-password" required>
          <i class="fa-solid" [ngClass]="isVisiblePassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('password')"></i>
        </div>
        <div class="error-container" *ngIf="showErrorFor('password')">
          <i class="fa-solid fa-circle-exclamation"></i>
          <p>{{getTranslation('passwordError')}}</p>
        </div>
      </div>
      <div class="input-container">
        <label for="confirmPassword">{{getTranslation('confirmPassword')}}</label>
        <div class="password-wrapper">
          <input id="confirmPassword" type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="{{getTranslation('confirmPassword')}}" autocomplete="new-password" required>
          <i class="fa-solid" [ngClass]="isVisibleConfirm ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('confirmPassword')"></i>
        </div>
        <div class="error-container" *ngIf="showErrorFor('confirmPassword')">
          <i class="fa-solid fa-circle-exclamation"></i>
          <p>{{getTranslation('confirmPasswordError')}}</p>
        </div>
      </div>

      <button type="submit" [ngClass]="{'invalid-button': !registerForm.valid}">{{getTranslation('createAccount')}}</button>
      <div class="terms-container">
        <p> {{getTranslation('registerAccept')}}</p>
      </div>

      <div class="separator">
        <div class="line"></div>
        <span>{{getTranslation('or')}}</span>
        <div class="line"></div>
      </div>

      <button class="googleButton" (click)="loginWithGoogle()">
        <img class="social-logo" src="https://fonts.gstatic.com/s/i/productlogos/googleg/v6/24px.svg" alt="Logo Google"> {{ getTranslation('loginWithGoogle') }}
      </button>

      <div class="last-container">
        <p>{{getTranslation('haveAccount')}}</p>
        <h2 (click)="goToLoginDialog()"> {{getTranslation('login')}}</h2>
      </div>
    </form>
  </div>

</div>
