    <img class="home-image" [src]="apiUrl + background" alt="Background">
    <div class="search-container gradient-border">
        <div class="search-background">
            <h1>{{getTranslation('home1')}}</h1>
            <h2> {{getTranslation('home2')}}</h2>
            <div class="search-bar">
                <input class="search-input" type="text" [(ngModel)]="searchAddress" (keydown)="onKeydown($event)" placeholder="{{getTranslation('address')}}">
                <button (click)="searchRestaurants()">{{getTranslation('search')}}</button>
            </div>
        </div>
    </div>
