<div class="basket-container">
  <h2> {{getTranslation('yourOrder')}}</h2>

  <div class="delivery-container">
    <button class="delivery-option" [ngClass]="{'selected' : selectedOption === 'delivery'}" (click)="selectOption('delivery')">
      <i class="fa-solid fa-bicycle" [ngClass]="{'selected' : selectedOption === 'delivery'}"></i>
      <div class="top">
        <h4>{{getTranslation('delivery')}} </h4>
        <h5> {{deliveryOrder}}</h5>
      </div>
    </button>
    <button class="delivery-option" [ngClass]="{'selected' : selectedOption === 'pickup'}" (click)="selectOption('pickup')" [disabled]="isNotPickUp">
      <i class="fa-solid fa-store" [ngClass]="{'selected' : selectedOption === 'pickup'}"></i>
      <div class="top">
        <h4>{{getTranslation('pickup')}} </h4>
        <h5> {{pickupOrder}}</h5>
      </div>
    </button>
  </div>

  <ng-container *ngIf="orderMenus.length === 0">
    <i class="fa-solid fa-basket-shopping"></i>
    <h2> {{getTranslation('basketEmpty')}}</h2>
    <h5> {{getTranslation('didntAdd')}}</h5>
  </ng-container>

  <ng-container *ngIf="orderMenus.length > 0">
    <div class="cart-container">
      <app-restaurant-basket-item
        *ngFor="let orderMenu of orderMenus"
        [orderMenu]="orderMenu"
        class="order-item"
      ></app-restaurant-basket-item>
    </div>

    <div class="missing-container" *ngIf="!isPriceValid">
      <p>{{getTranslation('minimumOrder')}} {{missingPrice | number:'1.2-2'}} zł</p>
    </div>




    <div class="summary-container">
      <div class="first-container">
        <p>{{getTranslation('together')}}</p>
        <p>{{ ordersPrice | number:'1.2-2'}} zł</p>
      </div>
      <div class="first-container">
       <p>{{getTranslation('deliveryCost')}}</p>
        <p>{{deliveryPrice | number: '1.2-2'}} zł</p>
      </div>
      <div class="total">
        <h3>{{getTranslation('total')}}</h3>
        <h3>{{totalPrice | number: '1.2-2'}} zł</h3>
      </div>
      <button class="order-button" (click)="goToOrder()" [ngClass]="{'invalid': !isPriceValid}" [disabled]="!isPriceValid" type="submit">
        {{getTranslation('orderNow')}} ({{totalPrice | number: '1.2-2'}} zł)
      </button>
    </div>

  </ng-container>

</div>
