.fav-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the element */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: auto;
  min-height: 420px;
  padding: 10px 30px;
  text-align: center;
  position: fixed;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 100;
  border-radius: 30px;
  font-family: 'Fira Sans', sans-serif;
  max-height: 90vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.first-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  height: 10%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.first-section h2{
  color: #1c1a1a;
  font-size: 25px;

}

.fa-chevron-left {
  font-size: 25px;
  color: #1c1a1a;
  margin-top: 20px;
}

.fa-chevron-left:hover {
  cursor: pointer;
  color: red;
}

.first-section .fa-circle-xmark {
  font-size: 30px;
  color: #1c1a1a;
  margin-top: 20px;
  cursor: pointer;
}

.first-section .fa-circle-xmark:hover {
  color: #ff6200;
}

.fav-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.item-container {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid #e0e0e0;
  border-radius: 20px;
  margin-bottom: 20px;
  align-items: center;
}

@media (max-width: 1024px) {
  .fav-container {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0;
    max-height: 100%;
  }
}
